Source: ros-groovy-nodelet
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-bondcpp,ros-groovy-roscpp,ros-groovy-genmsg,libboost-all-dev,ros-groovy-pluginlib,ros-groovy-rosconsole,ros-groovy-rospy,uuid-dev,ros-groovy-langs-dev,libtinyxml-dev
Homepage: http://ros.org/wiki/nodelet
Standards-Version: 3.9.2

Package: ros-groovy-nodelet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-bondcpp,ros-groovy-roscpp,libboost-all-dev,libtinyxml-dev,ros-groovy-rosconsole,uuid-dev,ros-groovy-langs
Description: The nodelet package is designed to provide a way to run multiple algorithms in the same process with zero copy transport between algorithms. This package provides both the nodelet base class needed for implementing a nodelet, as well as the NodeletLoader class used for instantiating nodelets.

